# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.bak

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
gui/dist/
gui/release/

# Electron
release/
*.exe
*.zip
*.dmg
*.app
gui/node_modules/

# OS
.DS_Store
Thumbs.db

# Project
temp_test/
HSE_Backups/
